{% extends "layout.html" %}

{% block title %}
    Through Glass Darkly
{% endblock %}

{% block content %}
    <div class="custom-heading">
        <h1>The House is ever hungry, {{ user["username"] }}</h1>
    </div>
    <div class="container text-center my-4">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="key-container d-flex flex-column align-items-center">
                    <img src="{{ url_for('static', filename='images/key2-vert.png') }}" class="img-fluid key-img" alt="Key 2">
                    <div class="key-hover-text">Cold, ill-fated iron.</div>
                </div>
            </div>            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="key-container d-flex flex-column align-items-center">
                    <img src="{{ url_for('static', filename='images/key1.png') }}" class="img-fluid key-img" alt="Key 1">
                    <div class="key-hover-text">No door remembers it.<br>Nor so shall thee.</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="key-container d-flex flex-column align-items-center">
                    <img src="{{ url_for('static', filename='images/key3-vert.png') }}" class="img-fluid key-img" alt="Key 3">
                    <div class="key-hover-text">Spur of unthought intent.</div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center">Are you ready to continue?</h3>
    <div class="text-center">
        <a href="/challenge" class="btn btn-dark mt-3 align-center">Delve</a>
    </div>

{% endblock %}

