{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <div class="prelanding">
        <h1>Log In</h1>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-dark m-2" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}